<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/style.css">
<script src="/js/app.js"></script>
<head>
<body>
<div class="main-content">
<span>{{>header}}</span>
<h1>{{title}}</h1>
<p>Mankar, Purbasha<br>
Station road,<br>
713144<br>
Dist: East Bardhaman<br>
Email: snigdho.ash@gmail.com<br>
Phone: 9800075278
</p>
</div>
<span>{{>footer}}</span>
<body>
</html>