<header>
    <a href="/"></a><span class="header"><h1>Weather App</h1></span></a>
<div class="topnav">
    <a href="/">Check Weather</a>
    <a href="/about">About us</a>
    <a href="/help">Contact us</a>
</div>
</header>
